@tailwind base;
@tailwind components;
@tailwind utilities;

/* default (mobile) */
/* body {
  font-size: 16px;
  background-color: white;
} */


/* laptop */
/* @media (min-width: 768px) {
  body {
    font-size: 20px;
    background-color: gray;
  }
} */